* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-left: 40px;
    padding-top: 20px;
    background-color: #FFF;
    background-image: url('img/bg.png');
    background-attachment: fixed;
}

.errors{
    color: #91387b;
}

a{
    color: #91387b;
}

a:hover{
    color: #bc91c3;
}

.notes{
    color: grey;
    font-size: .8em;
    margin-left: 15px;
}

table, tr, td, th {
  border: 3px solid #D7D7D7;
  padding: 10px;
  margin: 20px 35px;
  text-align: center;
}

th {
    background-color: #d3bbcb;
    border: 3px solid #966B9D;
}
table{
    width: 93%;
}

#topbar{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 100%;
    background-color: #966B9D;
    color: #FFF;
    padding-left: 30px;
    padding-top: 5px;
    font-size: 2em;
    z-index: 99999;
    border-bottom: 1px solid #a775af;
    -webkit-box-shadow: 0px 5px 42px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 5px 42px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 5px 42px 0px rgba(0,0,0,0.19);
}

.login-registration{
    background-color: #f2f2f2;
    border: 1px solid white;
    border-radius: 10px;
    width: 410px;
    display: inline-block;
    height: 400px;
    color: #3f2c42;
    vertical-align: top;
    margin: 0px 25px;
    -webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);  
}

.login-registration h2{
    background-color: #966B9D;
    border: 1px solid #a775af;
    width: 100%;
    height: 50px;
    color: #3f2c42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    color: #FFF;
}

.login-registration p{
    padding: 2px 15px;
}

.login-registration table, .login-registration tr, .login-registration td, .login-registration th {
    border: none;
    padding: 5px;
    margin: 10px 25px;
    text-align: left;
  }
  
  .login-registration th {
      background-color: #d3bbcb;
      border: 3px solid #966B9D;
  }
  .login-registration table{
      width: 93%;
  }

.main{
    background-color: #f2f2f2;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    height: auto;
    color: #3f2c42;
    vertical-align: top;
    margin: 0px 25px 50px 0px;
    -webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
}

.main h2{
    background-color: #966B9D;
    border: 1px solid #a775af;
    width: 100%;
    height: 50px;
    color: #3f2c42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    color: #FFF;
}

.main p{
    padding: 2px 15px;
}

.formmain{
    background-color: #f2f2f2;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    height: auto;
    color: #3f2c42;
    vertical-align: top;
    margin: 0px 25px 50px 0px;
    -webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.19);
}

.formmain h2{
    background-color: #966B9D;
    border: 1px solid #a775af;
    width: 100%;
    height: 50px;
    color: #3f2c42;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
    color: #FFF;
}

.formmain p{
    padding: 2px 15px;
}

.formmain table, .formmain tr, .formmain td, .formmain th {
    border: none;
    padding: 5px;
    margin: 10px 25px;
    text-align: left;
  }
  
  .formmain th {
      background-color: #d3bbcb;
      border: 3px solid #966B9D;
  }
  .formmain table{
      width: 93%;
  }

#index-container{
    width: 950px;
    margin: 0px auto;
    margin-top: 75px;
}

.btn-primary {
    background-color: #966B9D;
    border-color: #966B9D;
}

.btn-primary:hover {
    background-color: #bc91c3;
    border-color: #bc91c3;
}

.btn-primary:active {
    background-color: #bc91c3;
    border-color: #FFF;
}

.btn-danger {
    background-color: #FFF;
    border-color: #FFF;
    color: #966B9D;
}

.btn-danger:hover {
    background-color: #efd5f3;
    border-color: #efd5f3;
    color: #966B9D;
}

.btn-danger:active {
    background-color: #efd5f3;
    border-color: #FFF;
    color: #966B9D;
}

.btn-success {
    background-color: #c98686;
    border-color: #c98686;
    color: #FFF;
}

.btn-success:hover {
    background-color: #e2a6a6;
    border-color: #e2a6a6;
    color: #FFF;
}

.btn-success:active {
    background-color: #e2a6a6;
    border-color: #FFF;
}