<html>

<head>
  <title>myCloset</title>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/mycloset/style.css">
  <link rel="shortcut icon" href="../static/mycloset/favicon.ico">
</head>

<body>

    <div id = "topbar"><a href="/dashboard"><i class="fas fa-door-open"></i> myCloset</a>

      <form action="/logout" method="post" style="display: inline-block;">
        {% csrf_token %}
        <input type="submit" name="" class="btn btn-danger" style="position: fixed; right: 30px; top: 10px;" value="Log Out">
      </form>

    </div>

    <div id = "index-container">
      <div class = "main">
  <h2>Welcome, {{request.session.name}}!</h2>
  {% if messages %} {% for message in messages %}
  <center><p class="errors">{{message}}</p></center>
  {% endfor %} {% endif %}
    <center>
  <a href="/add">
    <button type="button" class="btn btn-primary" style="display: inline-block; margin-right: 20px;">Add New Clothing</button>
  </a>

  <a href="/outfits">
    <button type="button" class="btn btn-primary" style="display: inline-block; margin-right: 20px;">Build or Wear an Outfit</button>
  </a>

  <a href="/laundry">
      <button type="button" class="btn btn-primary" style="display: inline-block; margin-right: 20px;">Do Laundry</button>
    </a>

    <a href="/manage">
        <button type="button" class="btn btn-primary" style="display: inline-block; margin-right: 20px;">Manage Clothes</button>
      </a>

      <br><br>
    </center>
</div>

{% if favclothes %}
<div class = "main">
    <h2>Your Clean Favorites</h2>
    <table>
        <tr>
          <th>Type</th>
          <th>Item</th>
          <th>Description</th>
          <th>Pattern</th>
          <th>Fanciness</th>
          <th>Weather</th>
          <th>Wear</th>
        </tr>
        {% for clothes in favclothes %}
        <tr>
          <td><a href="/viewitem/{{clothes.id}}" style="color: {{clothes.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">
  
            {% if clothes.mainType == "Top" %}
            <i class="fas fa-tshirt fa-3x"></i>
            {% endif %}
  
            {% if clothes.mainType == "Bottom" %}
            <div style="overflow: hidden; width: 75px; height: 43px;"><i class="fas fa-child fa-5x" style="opacity: .6; margin-top: -40px; margin-left: 15px;"></i></div>
            {% endif %}
  
            {% if clothes.mainType == "Full-Body" %}
            <i class="fas fa-female fa-3x"></i>
            {% endif %}
  
            {% if clothes.mainType == "Shoes" %}
            <i class="fas fa-shoe-prints fa-3x"></i>
            {% endif %}
  
            {% if clothes.mainType == "Accessory" %}
            <i class="fas fa-crown fa-3x"></i>
            {% endif %}
          
          
          
          </a></td>
          <td>{{clothes.subType}}</td>
          <td>{{clothes.description}}</td>
          <td>{{clothes.pattern}}</td>
          <td>{{clothes.fanciness}}</td>
          <td>
              {% if clothes.weather == "Cold" %}
              <i class="fas fa-thermometer-empty fa-3x" style="color: #4a9fe7"></i>
              {% endif %}
  
              {% if clothes.weather == "Chilly" %}
              <i class="fas fa-thermometer-quarter fa-3x" style="color: #8a9cc4;"></i>
              {% endif %}
  
              {% if clothes.weather == "Warm" %}
              <i class="fas fa-thermometer-half fa-3x" style="color: #b06b7e;"></i>
              {% endif %}
  
              {% if clothes.weather == "Hot" %}
              <i class="fas fa-thermometer-full fa-3x" style="color: #d35959;"></i>
              {% endif %}
          </td>
          <td><form action="/wear/{{clothes.id}}" method="post">
            {% csrf_token %}
            <input type="submit" name="" class="btn btn-primary" style="display: inline-block;" value="Wear">
            </form></td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endif %}

<div class = "main">
    <h2>Your Clean Clothes</h2>
    {% if cleanclothes %}
    <table>
      <tr>
        <th>Type</th>
        <th>Item</th>
        <th>Description</th>
        <th>Pattern</th>
        <th>Fanciness</th>
        <th>Weather</th>
        <th>Wear</th>
      </tr>
      {% for item in cleanclothes %}
      <tr>
        <td><a href="/viewitem/{{item.id}}" style="color: {{item.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">

          {% if item.mainType == "Top" %}
          <i class="fas fa-tshirt fa-3x"></i>
          {% endif %}

          {% if item.mainType == "Bottom" %}
          <div style="overflow: hidden; width: 75px; height: 43px;"><i class="fas fa-child fa-5x" style="opacity: .6; margin-top: -40px;"></i></div>
          {% endif %}

          {% if item.mainType == "Full-Body" %}
          <i class="fas fa-female fa-3x"></i>
          {% endif %}

          {% if item.mainType == "Shoes" %}
          <i class="fas fa-shoe-prints fa-3x"></i>
          {% endif %}

          {% if item.mainType == "Accessory" %}
          <i class="fas fa-crown fa-3x"></i>
          {% endif %}
        
        
        
        </a></td>
        <td>{{item.subType}}</td>
        <td>{{item.description}}</td>
        <td>{{item.pattern}}</td>
        <td>{{item.fanciness}}</td>
        <td>
            {% if item.weather == "Cold" %}
            <i class="fas fa-thermometer-empty fa-3x" style="color: #4a9fe7"></i>
            {% endif %}

            {% if item.weather == "Chilly" %}
            <i class="fas fa-thermometer-quarter fa-3x" style="color: #8a9cc4;"></i>
            {% endif %}

            {% if item.weather == "Warm" %}
            <i class="fas fa-thermometer-half fa-3x" style="color: #b06b7e;"></i>
            {% endif %}

            {% if item.weather == "Hot" %}
            <i class="fas fa-thermometer-full fa-3x" style="color: #d35959;"></i>
            {% endif %}
        </td>
        <td><form action="/wear/{{item.id}}" method="post">
          {% csrf_token %}
          <input type="submit" name="" class="btn btn-primary" style="display: inline-block;" value="Wear">
          </form></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  
    {% if not cleanclothes %}
      <center><p>You do not currently have any clean items. Please <a href="/add">add clothing</a>, or <a href="/laundry">do laundry</a>!</p></center>
    {% endif %}
</div>
</body>

</html>