<html>

<head>
    <title>myCloset</title>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/mycloset/style.css">
    <link rel="shortcut icon" href="../static/mycloset/favicon.ico">
</head>

<body>

    <div id="topbar"><a href="/"></a>
        <i class="fas fa-door-open"></i> myCloset</a>
    </div>
    <div id="index-container">

        <div class="login-registration">
            <h2>Register</h2>
            <form action="/register" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input type="text" name="name">
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>
                            <input type="text" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>Password*:</td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat Password*:</td>
                        <td>
                            <input type="password" name="confirm_password">
                        </td>
                    </tr>

                </table>
              
                <p class="notes">* Password must be at least 8 characters</p>

                <center>
                    <input type="submit" value="Register" class="btn btn-primary"> </center>
            </form>
        </div>
        <div class="login-registration">
            <h2>Log In</h2>
            <form action="/login" method="POST">
                {% csrf_token %}

                <table>
                    <tr>
                        <td>E-mail: </td>
                        <td>
                            <input type="text" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                    </table>

                <center>
                    <input type="submit" value="Log In" class="btn btn-primary"> </center>
            </form>
        </div>
        <br>
        <br> {% if messages %} {% for message in messages %}
        <center>
            <p class="errors">{{message}}</p>
        </center>
        {% endfor %} {% endif %}

    </div>
</body>

</html>