<html>

<head>
  <title>myCloset: Build and Wear Outfits</title>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/mycloset/style.css">
  <link rel="shortcut icon" href="../static/mycloset/favicon.ico">
</head>

<body>

  <div id = "topbar"><a href="/dashboard"><i class="fas fa-door-open"></i> myCloset</a>

    <a href="/dashboard">
      <button class="btn btn-danger" style="position: fixed; right: 120px; top: 10px;">Home</button>
    </a>

    <form action="/logout" method="post" style="display: inline-block;">
      {% csrf_token %}
      <input type="submit" name="" class="btn btn-danger" style="position: fixed; right: 30px; top: 10px;" value="Log Out">
    </form>

  </div>

    <div id = "index-container">
      <div class = "main">
  <h2>Build and Wear Outfits</h2>
  {% if messages %} {% for message in messages %}
  <center><p class="errors">{{message}}</p></center>
  {% endfor %} {% endif %}
    <center>

        <a href="/addoutfit" style="display: inline-block;">
          <button class="btn btn-primary">Create a New Outfit</button>
        </a>

        <a href="/add" style="display: inline-block;">
          <button class="btn btn-primary">Add New Clothing</button>
        </a>

  <br><br>
    </center>
</div>

<div class = "main">
    <h2>Your Outfits</h2>
    {% if outfits %}
    <table>
      <tr>
        <th>Name</th>
        <th>Top</th>
        <th>Bottom</th>
        <th>Shoes</th>
        <th>Accessory</th>
        <th>Wear</th>
        <th>Delete</th>
      </tr>
      {% for outfit in outfits %}
      <tr>
        <td>
          {{outfit.name}}</td>
        <td>
            {% if outfit.top.clean == True %}
            <a href="/viewitem/{{outfit.top_id}}" style="color: {{outfit.top.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">
          <i class="fas fa-tshirt fa-3x"></i>      
        </a>
        {% endif %}

        {% if outfit.top.clean == False %}
            <a href="/viewitem/{{outfit.top.id}}" style="color: {{outfit.top.color}}; opacity: .1; -webkit-text-stroke: 2px #966B9D;">
          <i class="fas fa-tshirt fa-3x"></i>      
        </a>
        {% endif %}

      </td>
      <td>
          {% if outfit.bottom.clean == True %}
        <a href="/viewitem/{{outfit.bottom.id}}" style="color: {{outfit.bottom.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">
        <div style="overflow: hidden; width: 75px; height: 43px;"><i class="fas fa-child fa-5x" style="opacity: .6; margin-top: -40px; margin-left: 20px;"></i></div>   
      </a>
      {% endif %}

      {% if outfit.bottom.clean == False %}
      <a href="/viewitem/{{bottom.id}}" style="color: {{outfit.bottom.color}}; opacity: .1; -webkit-text-stroke: 2px #966B9D;">
      <div style="overflow: hidden; width: 75px; height: 43px;"><i class="fas fa-child fa-5x" style="opacity: .1; margin-top: -40px; margin-left: 20px;"></i></div>   
    </a>
    {% endif %}


    </td>
    <td>

        {% if outfit.shoes.clean == True %}
      <a href="/viewitem/{{outfit.shoes.id}}" style="color: {{outfit.shoes.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">
      <i class="fas fa-shoe-prints fa-3x"></i>
    </a>
    {% endif %}
    
    {% if outfit.shoes.clean == False %}
    <a href="/viewitem/{{outfit.shoes.id}}" title="Dirty" style="color: {{outfit.shoes.color}}; opacity: .1; -webkit-text-stroke: 2px #966B9D;">
      <i class="fas fa-shoe-prints fa-3x"></i>
    </a>
    {% endif %}


  </td>
  <td>

      {% if outfit.accessory.clean == True %}
      <a href="/viewitem/{{outfit.accessory.id}}" style="color: {{outfit.accessory.color}}; opacity: .6; -webkit-text-stroke: 2px #966B9D;">
    <i class="fas fa-crown fa-3x"></i>
  </a>
  {% endif %}

  {% if outfit.accessory.clean == False %}
      <a href="/viewitem/{{outfit.accessory.id}}" style="color: {{outfit.accessory.color}}; opacity: .1; -webkit-text-stroke: 2px #966B9D;">
    <i class="fas fa-crown fa-3x"></i>
  </a>
  {% endif %}


</td>
        <td><form action="/wearoutfit/{{outfit.id}}" method="post">
          {% csrf_token %}
          <input type="submit" name="" class="btn btn-primary" style="display: inline-block;" value="Wear">
          </form></td>

          <td><form action="/deleteoutfit/{{outfit.id}}" method="post">
            {% csrf_token %}
            <input type="submit" name="" class="btn btn-primary" style="display: inline-block;" value="Delete">
            </form></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  
    {% if not outfits %}
      <center><p>You do not currently have any outfits. Please create one above!</p>
        
        <a href="/dashboard">
            <button type="button" class="btn btn-primary" style="display: inline-block; margin-right: 20px;">Return to Dashboard</button>
            <br><br>
          </a>
      
      
      </center>
    {% endif %}
</div>
</body>

</html>